# Python для анализа данных

## Бот в Telegram

### Сбор статистики по Коронавирусу

*Ян Пиле*

### Есть сайт с информацией о распространении вируса в мире
Я предлагаю достать оттуда информацию в виде Pandas dataframe а затем по запросу пользователя в телеграм выгружать ее

Импортируем requests и запишем адрес сайта со статистикой по COVID в переменную

In [36]:
import requests
from bs4 import BeautifulSoup

После чего через get-запрос достанем текст страницы со статистикой и распарсим ее с помощью BeautifulSoup

In [37]:
url = 'https://www.worldometers.info/coronavirus/'
website = requests.get(url).text
soup = BeautifulSoup(website, 'lxml')
# soup

In [38]:
soup.find_all('table')[1]

<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_yesterday" style="width:100%;margin-top: 0px !important;display:none;">
<thead>
<tr>
<th width="1%">#</th>
<th width="100">Country,<br/>Other</th>
<th width="20">Total<br/>Cases</th>
<th width="30">New<br/>Cases</th>
<th width="30">Total<br/>Deaths</th>
<th width="30">New<br/>Deaths</th>
<th width="30">Total<br/>Recovered</th>
<th width="30">New<br/>Recovered</th>
<th width="30">Active<br/>Cases</th>
<th width="30">Serious,<br/>Critical</th>
<th width="30">Tot Cases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th width="30">Population</th>
<th style="display:none" width="30">Continent</th>
<th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
<th width="30">New Cases/1M pop</th>
<th width="30">New Deaths/1M pop</th>
<th width="30">Active Cases/1M pop</th>
</tr>
</thead>
<tbody>
<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>163,159,961</td>
<td>+176,002</td>
<td>1,442,067</td>
<td>+229</td>
<td>157,445,078</td>
<td>+135,893</td>
<td>4,272,816</td>
<td>10,861</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>107,282,905</td>
<td>+126,986</td>
<td>1,492,760</td>
<td>+325</td>
<td>100,436,411</td>
<td>+183,724</td>
<td>5,353,734</td>
<td>9,399</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>60,696,362</td>
<td>+80,731</td>
<td>1,309,022</td>
<td>+392</td>
<td>57,739,791</td>
<td>+105,763</td>
<td>1,647,549</td>
<td>10,447</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>208,958,593</td>
<td>+529,687</td>
<td>1,861,748</td>
<td>+566</td>
<td>198,386,939</td>
<td>+377,990</td>
<td>8,709,906</td>
<td>6,618</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>10,346,230</td>
<td>+55,021</td>
<td>14,760</td>
<td>+81</td>
<td>9,881,291</td>
<td>+49,711</td>
<td>450,179</td>
<td>158</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>12,421,661</td>
<td>+5,836</td>
<td>256,335</td>
<td>+42</td>
<td>11,569,351</td>
<td>+7,480</td>
<td>595,975</td>
<td>1,016</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>706</td>
<td></td>
<td>0</td>
<td>0</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>562,866,433</td>
<td>+974,263</td>
<td>6,376,707</td>
<td>+1,635</td>
<td>535,459,567</td>
<td>+860,561</td>
<td>21,030,159</td>
<td>38,499</td>
<td>72,211</td>
<td>818.1</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<td>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/china/">China</a></td>
<td style="font-weight: bold; text-align:right">226,811</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+107</td>
<td style="font-weight: bold; text-align:right;">5,226 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">220,525</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+94</td>
<td style="text-align:right;font-weight:bold;">1,060</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">158</td>
<td style="font-weight: bold; text-align:right">4</td>
<td style="font-weight: bold; text-align:right">160,000,000</td>
<td style="font-weight: bold; text-align:right">111,163</td>
<td style="font-weight: bold; text-align:right">1,439,323,776 </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>6,346</td><td>275,416</td><td>9</td>
<td style="font-weight: bold; text-align:right">0.07</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">0.7</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">90,683,223</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+95,342</td>
<td style="font-weight: bold; text-align:right;">1,046,613 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+254</td>
<td style="font-weight: bold; text-align:right">86,137,546</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+111,105</td>
<td style="text-align:right;font-weight:bold;">3,499,064</td>
<td style="font-weight: bold; text-align:right">4,077</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1,058,287,178</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"> </td>
<td data-continent="North America" style="display:none">North America</td>
<td></td><td></td><td></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">43,672,155</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+19,211</td>
<td style="font-weight: bold; text-align:right;">525,519 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+45</td>
<td style="font-weight: bold; text-align:right">43,011,874</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+15,447</td>
<td style="text-align:right;font-weight:bold;">134,762</td>
<td style="font-weight: bold; text-align:right">698</td>
<td style="font-weight: bold; text-align:right">31,029</td>
<td style="font-weight: bold; text-align:right">373</td>
<td style="font-weight: bold; text-align:right">866,888,980</td>
<td style="font-weight: bold; text-align:right">615,925</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,407,458,411</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>32</td><td>2,678</td><td>2</td>
<td style="font-weight: bold; text-align:right">14</td>
<td style="font-weight: bold; text-align:right">0.03</td>
<td style="font-weight: bold; text-align:right">96</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">33,005,278</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+64,771</td>
<td style="font-weight: bold; text-align:right;">674,166 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+352</td>
<td style="font-weight: bold; text-align:right">31,346,111</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+88,371</td>
<td style="text-align:right;font-weight:bold;">985,001</td>
<td style="font-weight: bold; text-align:right">8,318</td>
<td style="font-weight: bold; text-align:right">153,074</td>
<td style="font-weight: bold; text-align:right">3,127</td>
<td style="font-weight: bold; text-align:right">63,776,166</td>
<td style="font-weight: bold; text-align:right">295,785</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,616,701</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<td>7</td><td>320</td><td>3</td>
<td style="font-weight: bold; text-align:right">300</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="font-weight: bold; text-align:right">4,568</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">32,548,947</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+182,006</td>
<td style="font-weight: bold; text-align:right;">150,305 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+126</td>
<td style="font-weight: bold; text-align:right">30,204,420</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+77,805</td>
<td style="text-align:right;font-weight:bold;">2,194,222</td>
<td style="font-weight: bold; text-align:right">869</td>
<td style="font-weight: bold; text-align:right">496,432</td>
<td style="font-weight: bold; text-align:right">2,292</td>
<td style="font-weight: bold; text-align:right">271,490,188</td>
<td style="font-weight: bold; text-align:right">4,140,734</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,565,718</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>2</td><td>436</td><td>0</td>
<td style="font-weight: bold; text-align:right">2,776</td>
<td style="font-weight: bold; text-align:right">2</td>
<td style="font-weight: bold; text-align:right">33,466</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">29,308,100</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+127,611</td>
<td style="font-weight: bold; text-align:right;">142,139 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+104</td>
<td style="font-weight: bold; text-align:right">27,486,300</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+95,600</td>
<td style="text-align:right;font-weight:bold;">1,679,661</td>
<td style="font-weight: bold; text-align:right">1,173</td>
<td style="font-weight: bold; text-align:right">347,557</td>
<td style="font-weight: bold; text-align:right">1,686</td>
<td style="font-weight: bold; text-align:right">122,332,384</td>
<td style="font-weight: bold; text-align:right">1,450,709</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">84,325,954</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>3</td><td>593</td><td>1</td>
<td style="font-weight: bold; text-align:right">1,513</td>
<td style="font-weight: bold; text-align:right">1</td>
<td style="font-weight: bold; text-align:right">19,919</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">22,883,995</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">180,718 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">22,279,520</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+15,061</td>
<td style="text-align:right;font-weight:bold;">423,757</td>
<td style="font-weight: bold; text-align:right">146</td>
<td style="font-weight: bold; text-align:right">333,549</td>
<td style="font-weight: bold; text-align:right">2,634</td>
<td style="font-weight: bold; text-align:right">522,526,476</td>
<td style="font-weight: bold; text-align:right">7,616,168</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,607,534</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>3</td><td>380</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">6,177</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">19,667,320</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+142,967</td>
<td style="font-weight: bold; text-align:right;">169,390 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+157</td>
<td style="font-weight: bold; text-align:right">18,147,449</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+97,438</td>
<td style="text-align:right;font-weight:bold;">1,350,481</td>
<td style="font-weight: bold; text-align:right">375</td>
<td style="font-weight: bold; text-align:right">326,255</td>
<td style="font-weight: bold; text-align:right">2,810</td>
<td style="font-weight: bold; text-align:right">230,958,097</td>
<td style="font-weight: bold; text-align:right">3,831,295</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,281,990</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>3</td><td>356</td><td>0</td>
<td style="font-weight: bold; text-align:right">2,372</td>
<td style="font-weight: bold; text-align:right">3</td>
<td style="font-weight: bold; text-align:right">22,403</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
<td style="font-weight: bold; text-align:right">18,561,861</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+37,323</td>
<td style="font-weight: bold; text-align:right;">24,668 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+7</td>
<td style="font-weight: bold; text-align:right">18,288,332</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+7,192</td>
<td style="text-align:right;font-weight:bold;">248,861</td>
<td style="font-weight: bold; text-align:right">74</td>
<td style="font-weight: bold; text-align:right">361,418</td>
<td style="font-weight: bold; text-align:right">480</td>
<td style="font-weight: bold; text-align:right">15,804,065</td>
<td style="font-weight: bold; text-align:right">307,721</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,358,445</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<td>3</td><td>2,082</td><td>3</td>
<td style="font-weight: bold; text-align:right">727</td>
<td style="font-weight: bold; text-align:right">0.1</td>
<td style="font-weight: bold; text-align:right">4,846</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">18,468,310</td>
<td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+3,002</td>
<td style="font-weight: bold; text-align:right;">381,669 </td>
<td style="font-weight: bold;
                                    text-align:right;background-color:red; color:white">+48</td>
<td style="font-weight: bold; text-align:right">17,894,065</td>
<td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+3,209</td>
<td style="text-align:right;font-weight:bold;">192,576</td>
<td style="font-weight: bold; text-align:right">2,300</td>
<td style="font-weight: bold; text-align:right">126,442</td>
<td style="font-weight: bold; text-align:right">2,613</td>
<td style="font-weight: bold; text-align:right">273,400,000</td>
<td style="font-weight: bold; text-align:right">1,871,820</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">146,061,049</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<td>8</td><td>383</td><td>1</td>
<td style="font-weight: bold; text-align:right">21</td>
<td style="font-weight: bold; text-align:right">0.3</td>
<td style="font-weight: bold; text-align:right">1,318</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
<td style="font-weight: bold; text-align:right">15,180,444</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">99,057 </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">15,035,727</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">45,660</td>

На странице две таблицы: одна отвечает за информацию на сегодняшний день (под номером 0), а вторая - за информацию на вчерашний день. Достанем обе таблицы (они лежат между тегами \<\table\>\)

In [39]:
table = soup.find_all('table')[0]
# table

In [40]:
len(soup.find_all('table'))

3

Разобьем таблицу на строки (они лежат между тегами tr)

In [41]:
rows = table.find_all('tr')
rows

[<tr>
 <th width="1%">#</th>
 <th width="100">Country,<br/>Other</th>
 <th width="20">Total<br/>Cases</th>
 <th width="30">New<br/>Cases</th>
 <th width="30">Total<br/>Deaths</th>
 <th width="30">New<br/>Deaths</th>
 <th width="30">Total<br/>Recovered</th>
 <th width="30">New<br/>Recovered</th>
 <th width="30">Active<br/>Cases</th>
 <th width="30">Serious,<br/>Critical</th>
 <th width="30">Tot Cases/<br/>1M pop</th>
 <th width="30">Deaths/<br/>1M pop</th>
 <th width="30">Total<br/>Tests</th>
 <th width="30">Tests/<br/>
 <nobr>1M pop</nobr>
 </th>
 <th width="30">Population</th>
 <th style="display:none" width="30">Continent</th>
 <th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
 <th width="30">New Cases/1M pop</th>
 <th width="30">New Deaths/1M pop</th>
 <th width="30">Active Cases/1M pop</th>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="North America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>North America</nobr>
 </td>
 <td>107,319,239</td>
 <td>+36,334</td>
 <td>1,492,852</td>
 <td>+92</td>
 <td>100,461,111</td>
 <td>+24,700</td>
 <td>5,365,276</td>
 <td>9,399</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="North America" style="display:none;">North America</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Asia</nobr>
 </td>
 <td>163,272,705</td>
 <td>+112,744</td>
 <td>1,442,124</td>
 <td>+57</td>
 <td>157,480,673</td>
 <td>+35,595</td>
 <td>4,349,908</td>
 <td>10,875</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Asia" style="display:none;">Asia</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="South America" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>South America</nobr>
 </td>
 <td>60,700,163</td>
 <td>+3,801</td>
 <td>1,309,025</td>
 <td>+3</td>
 <td>57,751,953</td>
 <td>+12,162</td>
 <td>1,639,185</td>
 <td>10,447</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="South America" style="display:none;">South America</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Europe</nobr>
 </td>
 <td>208,958,593</td>
 <td></td>
 <td>1,861,748</td>
 <td></td>
 <td>198,401,775</td>
 <td>+14,836</td>
 <td>8,695,070</td>
 <td>6,618</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Europe" style="display:none;">Europe</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Oceania</nobr>
 </td>
 <td>10,402,278</td>
 <td>+56,048</td>
 <td>14,846</td>
 <td>+86</td>
 <td>9,891,818</td>
 <td>+10,527</td>
 <td>495,614</td>
 <td>169</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr>Africa</nobr>
 </td>
 <td>12,421,661</td>
 <td></td>
 <td>256,335</td>
 <td></td>
 <td>11,569,351</td>
 <td></td>
 <td>595,975</td>
 <td>1,016</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="Africa" style="display:none;">Africa</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world row_continent" data-continent="" style="display: none">
 <td></td>
 <td style="text-align:left;">
 <nobr></nobr>
 </td>
 <td>721</td>
 <td></td>
 <td>15</td>
 <td></td>
 <td>706</td>
 <td></td>
 <td>0</td>
 <td>0</td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="" style="display:none;"></td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr class="total_row_world">
 <td></td>
 <td style="text-align:left;">World</td>
 <td>563,075,360</td>
 <td>+208,927</td>
 <td>6,376,945</td>
 <td>+238</td>
 <td>535,557,387</td>
 <td>+97,820</td>
 <td>21,141,028</td>
 <td>38,524</td>
 <td>72,237</td>
 <td>818.1</td>
 <td></td>
 <td></td>
 <td></td>
 <td data-continent="all" style="display:none">All</td>
 <td>
 </td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 <td></td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
 <td style="font-weight: bold; text-align:right">90,683,223</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">1,046,613 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">86,137,546</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">3,499,064</td>
 <td style="font-weight: bold; text-align:right">4,077</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">1,058,287,178</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"> </td>
 <td data-continent="North America" style="display:none">North America</td>
 <td></td><td></td><td></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
 <td style="font-weight: bold; text-align:right">43,672,155</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">525,519 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">43,011,874</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">134,762</td>
 <td style="font-weight: bold; text-align:right">698</td>
 <td style="font-weight: bold; text-align:right">31,029</td>
 <td style="font-weight: bold; text-align:right">373</td>
 <td style="font-weight: bold; text-align:right">867,769,574</td>
 <td style="font-weight: bold; text-align:right">616,551</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,407,458,411</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>32</td><td>2,678</td><td>2</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">96</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
 <td style="font-weight: bold; text-align:right">33,005,278</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">674,166 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">31,346,111</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">985,001</td>
 <td style="font-weight: bold; text-align:right">8,318</td>
 <td style="font-weight: bold; text-align:right">153,074</td>
 <td style="font-weight: bold; text-align:right">3,127</td>
 <td style="font-weight: bold; text-align:right">63,776,166</td>
 <td style="font-weight: bold; text-align:right">295,785</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,616,701</a> </td>
 <td data-continent="South America" style="display:none">South America</td>
 <td>7</td><td>320</td><td>3</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">4,568</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
 <td style="font-weight: bold; text-align:right">32,548,947</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">150,305 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">30,204,294</span></td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">2,194,348</td>
 <td style="font-weight: bold; text-align:right">869</td>
 <td style="font-weight: bold; text-align:right">496,432</td>
 <td style="font-weight: bold; text-align:right">2,292</td>
 <td style="font-weight: bold; text-align:right">271,490,188</td>
 <td style="font-weight: bold; text-align:right">4,140,734</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,565,718</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>2</td><td>436</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">33,468</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
 <td style="font-weight: bold; text-align:right">29,308,100</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">142,139 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">27,486,300</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">1,679,661</td>
 <td style="font-weight: bold; text-align:right">1,173</td>
 <td style="font-weight: bold; text-align:right">347,557</td>
 <td style="font-weight: bold; text-align:right">1,686</td>
 <td style="font-weight: bold; text-align:right">122,332,384</td>
 <td style="font-weight: bold; text-align:right">1,450,709</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">84,325,954</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>3</td><td>593</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">19,919</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
 <td style="font-weight: bold; text-align:right">22,883,995</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">180,718 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">22,294,298</span></td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+14,778</td>
 <td style="text-align:right;font-weight:bold;">408,979</td>
 <td style="font-weight: bold; text-align:right">146</td>
 <td style="font-weight: bold; text-align:right">333,549</td>
 <td style="font-weight: bold; text-align:right">2,634</td>
 <td style="font-weight: bold; text-align:right">522,526,476</td>
 <td style="font-weight: bold; text-align:right">7,616,168</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,607,534</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>3</td><td>380</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">5,961</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
 <td style="font-weight: bold; text-align:right">19,667,320</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">169,390  </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">18,147,449</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">1,350,481</td>
 <td style="font-weight: bold; text-align:right">375</td>
 <td style="font-weight: bold; text-align:right">326,255</td>
 <td style="font-weight: bold; text-align:right">2,810</td>
 <td style="font-weight: bold; text-align:right">230,958,097</td>
 <td style="font-weight: bold; text-align:right">3,831,295</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,281,990</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>3</td><td>356</td><td>0</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">22,403</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
 <td style="font-weight: bold; text-align:right">18,602,109</td>
 <td style="font-weight: bold; text-align:right;background-color:#FFEEAA;">+40,248</td>
 <td style="font-weight: bold; text-align:right;">24,680 </td>
 <td style="font-weight: bold;
                                     text-align:right;background-color:red; color:white">+12</td>
 <td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">18,295,105</span></td>
 <td style="font-weight: bold; text-align:right;background-color:#c8e6c9; color:#000">+6,773</td>
 <td style="text-align:right;font-weight:bold;">282,324</td>
 <td style="font-weight: bold; text-align:right">67</td>
 <td style="font-weight: bold; text-align:right">362,202</td>
 <td style="font-weight: bold; text-align:right">481</td>
 <td style="font-weight: bold; text-align:right">15,804,065</td>
 <td style="font-weight: bold; text-align:right">307,721</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,358,445</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>3</td><td>2,081</td><td>3</td>
 <td style="font-weight: bold; text-align:right">784</td>
 <td style="font-weight: bold; text-align:right">0.2</td>
 <td style="font-weight: bold; text-align:right">5,497</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
 <td style="font-weight: bold; text-align:right">18,468,310</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">381,669 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">17,894,065</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">192,576</td>
 <td style="font-weight: bold; text-align:right">2,300</td>
 <td style="font-weight: bold; text-align:right">126,442</td>
 <td style="font-weight: bold; text-align:right">2,613</td>
 <td style="font-weight: bold; text-align:right">273,400,000</td>
 <td style="font-weight: bold; text-align:right">1,871,820</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">146,061,049</a> </td>
 <td data-continent="Europe" style="display:none">Europe</td>
 <td>8</td><td>383</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">1,318</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
 <td style="font-weight: bold; text-align:right">15,180,444</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">99,057 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">15,035,727</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">45,660</td>
 <td style="font-weight: bold; text-align:right">975</td>
 <td style="font-weight: bold; text-align:right">176,157</td>
 <td style="font-weight: bold; text-align:right">1,149</td>
 <td style="font-weight: bold; text-align:right">162,743,369</td>
 <td style="font-weight: bold; text-align:right">1,888,512</td>
 <td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">86,175,464</a> </td>
 <td data-continent="Asia" style="display:none">Asia</td>
 <td>6</td><td>870</td><td>1</td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right"></td>
 <td style="font-weight: bold; text-align:right">530</td>
 </tr>,
 <tr style="">
 <td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
 <td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/spain/">Spain</a></td>
 <td style="font-weight: bold; text-align:right">13,032,841</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="font-weight: bold; text-align:right;">108,948 </td>
 <td style="font-weight: bold;
                                     text-align:right;"></td>
 <td style="font-weight: bold; text-align:right">12,370,046</td>
 <td style="font-weight: bold; text-align:right;"></td>
 <td style="text-align:right;font-weight:bold;">553,847</td>
 <td style="font-weight: bold; text-align:right">339</td>
 <td style="font-weight: bold; text-align:right">278,531</td>
 <td style="font-weight: bold; text-align:right">2,328</td>
 <td style="font-weight: bold; text-align:right">471,036,328</td>
 <td style="font-weight: bold; text-align:right">10,066,726</td>

Сначала достанем заголовки (между тегами th). Для примера достанем заголовок первой колонки.

In [42]:
rows[0].find_all('th')[1].get_text().strip()

'Country,Other'

Теперь мы можем достать содержимое ячеек таблицы (между тегами td). Для примера достанем первую запись первого по счету столбца

In [43]:
rows[1].find_all('td')[1].get_text().strip()

'North America'

Протестируем сборку на примере одной колонки, а потом пробежимся по их списку в цикле

In [44]:
col1 = []

col1.append(rows[0].find_all('th')[1].get_text().strip()) # отдельно добавляем заголовок

for row in rows[1:]: # начинаем со второго ряда таблицы, потому что 0 уже обработали выше
    r = row.find_all('td') # находим все теги td для строки таблицы
    col1.append(r[1].get_text().strip()) # сохраняем данные в наш список

print(col1)

['Country,Other', 'North America', 'Asia', 'South America', 'Europe', 'Oceania', 'Africa', '', 'World', 'USA', 'India', 'Brazil', 'France', 'Germany', 'UK', 'Italy', 'S. Korea', 'Russia', 'Turkey', 'Spain', 'Vietnam', 'Japan', 'Argentina', 'Australia', 'Netherlands', 'Iran', 'Mexico', 'Colombia', 'Indonesia', 'Poland', 'Portugal', 'Ukraine', 'DPRK', 'Malaysia', 'Thailand', 'Austria', 'Israel', 'Belgium', 'Taiwan', 'Chile', 'South Africa', 'Canada', 'Czechia', 'Switzerland', 'Greece', 'Philippines', 'Peru', 'Denmark', 'Romania', 'Sweden', 'Iraq', 'Serbia', 'Bangladesh', 'Hungary', 'Slovakia', 'Jordan', 'Georgia', 'Ireland', 'Pakistan', 'Singapore', 'New Zealand', 'Norway', 'Kazakhstan', 'Hong Kong', 'Morocco', 'Bulgaria', 'Croatia', 'Finland', 'Lebanon', 'Cuba', 'Tunisia', 'Lithuania', 'Slovenia', 'Belarus', 'Nepal', 'UAE', 'Uruguay', 'Guatemala', 'Bolivia', 'Panama', 'Mongolia', 'Ecuador', 'Costa Rica', 'Latvia', 'Saudi Arabia', 'Azerbaijan', 'Paraguay', 'Sri Lanka', 'Kuwait', 'Bahrain', 'Dominican Republic', 'Myanmar', 'Palestine', 'Estonia', 'Cyprus', 'Venezuela', 'Moldova', 'Egypt', 'Libya', 'Ethiopia', 'Honduras', 'Réunion', 'Armenia', 'Oman', 'Qatar', 'Bosnia and Herzegovina', 'Kenya', 'Zambia', 'Botswana', 'North Macedonia', 'Albania', 'Algeria', 'Luxembourg', 'Nigeria', 'Zimbabwe', 'Montenegro', 'Uzbekistan', 'Mozambique', 'Laos', 'Martinique', 'Kyrgyzstan', 'Iceland', 'Maldives', 'Afghanistan', 'El Salvador', 'Brunei', 'Guadeloupe', 'Namibia', 'Uganda', 'Trinidad and Tobago', 'Ghana', 'Jamaica', 'Cambodia', 'Rwanda', 'Cameroon', 'Malta', 'Angola', 'DRC', 'French Guiana', 'Malawi', 'Senegal', 'Barbados', 'Channel Islands', 'Ivory Coast', 'Suriname', 'French Polynesia', 'Eswatini', 'Guyana', 'New Caledonia', 'Fiji', 'Madagascar', 'Belize', 'Sudan', 'Cabo Verde', 'Mauritania', 'Bhutan', 'Syria', 'Gabon', 'Seychelles', 'Curaçao', 'Papua New Guinea', 'Andorra', 'Burundi', 'Aruba', 'Mauritius', 'Mayotte', 'Togo', 'Guinea', 'Isle of Man', 'Bahamas', 'Tanzania', 'Faeroe Islands', 'Lesotho', 'Haiti', 'Mali', 'Cayman Islands', 'Saint Lucia', 'Benin', 'Somalia', 'Congo', 'Timor-Leste', 'Solomon Islands', 'Burkina Faso', 'Gibraltar', 'San Marino', 'Grenada', 'Nicaragua', 'Liechtenstein', 'Tajikistan', 'South Sudan', 'Equatorial Guinea', 'Bermuda', 'Djibouti', 'Samoa', 'Dominica', 'CAR', 'Monaco', 'Tonga', 'Gambia', 'Greenland', 'Yemen', 'Vanuatu', 'Saint Martin', 'Sint Maarten', 'Caribbean Netherlands', 'Eritrea', 'Niger', 'Antigua and Barbuda', 'Guinea-Bissau', 'Comoros', 'Sierra Leone', 'Liberia', 'Chad', 'British Virgin Islands', 'St. Vincent Grenadines', 'Nauru', 'Saint Kitts and Nevis', 'Turks and Caicos', 'Sao Tome and Principe', 'Cook Islands', 'Palau', 'St. Barth', 'Anguilla', 'Kiribati', 'Saint Pierre Miquelon', 'Falkland Islands', 'Montserrat', 'Diamond Princess', 'Macao', 'Wallis and Futuna', 'Marshall Islands', 'Micronesia', 'Vatican City', 'Niue', 'Western Sahara', 'MS Zaandam', 'Tuvalu', 'Saint Helena', 'China', 'Total:', 'Total:', 'Total:', 'Total:', 'Total:', 'Total:', 'Total:', 'Total:']

In [45]:
col1[:236][-1]

'MS Zaandam'

Чтобы еще раз проверить, запустим для другой колонки - TotalCases

In [46]:
col2 = []

col2.append(rows[0].find_all('th')[2].get_text().strip()) # отдельно добавляем заголовок

for row in rows[1:]: # начинаем со второго ряда таблицы, потому что 0 уже обработали выше
    r = row.find_all('td') # находим все теги td для строки таблицы
    col2.append(r[2].get_text().strip()) # сохраняем данные в наш список

print(col2)

['TotalCases', '107,319,239', '163,272,705', '60,700,163', '208,958,593', '10,402,278', '12,421,661', '721', '563,075,360', '90,683,223', '43,672,155', '33,005,278', '32,548,947', '29,308,100', '22,883,995', '19,667,320', '18,602,109', '18,468,310', '15,180,444', '13,032,841', '10,756,254', '9,810,874', '9,426,171', '8,605,813', '8,253,854', '7,255,017', '6,301,645', '6,198,848', '6,116,347', '6,024,488', '5,266,454', '5,019,125', '4,769,330', '4,600,736', '4,550,924', '4,547,061', '4,472,124', '4,320,107', '4,132,429', '4,095,096', '3,998,466', '3,986,208', '3,943,792', '3,843,522', '3,843,142', '3,721,413', '3,691,213', '3,034,352', '2,946,174', '2,523,404', '2,390,684', '2,045,101', '1,991,031', '1,932,788', '1,801,993', '1,700,526', '1,662,299', '1,614,631', '1,543,741', '1,540,778', '1,462,257', '1,451,515', '1,310,370', '1,276,686', '1,242,828', '1,180,636', '1,160,253', '1,158,485', '1,125,720', '1,106,490', '1,087,030', '1,071,837', '1,052,574', '994,037', '980,590', '966,075', '965,370', '955,370', '952,456', '932,710', '929,653', '922,398', '904,934', '842,127', '800,869', '793,764', '673,829', '664,315', '648,216', '641,978', '619,501', '613,760', '586,058', '585,143', '530,510', '528,566', '520,321', '515,645', '502,289', '490,557', '430,672', '425,638', '423,771', '391,641', '390,055', '379,982', '336,053', '327,102', '324,154', '316,729', '289,391', '266,303', '263,167', '258,874', '255,981', '244,337', '241,882', '228,769', '210,401', '207,969', '201,282', '197,707', '183,491', '183,272', '180,970', '176,682', '175,348', '169,253', '168,440', '168,427', '167,215', '144,138', '136,390', '131,734', '120,068', '109,493', '101,320', '91,737', '89,779', '86,799', '86,526', '86,451', '84,518', '84,165', '80,919', '73,858', '73,227', '68,409', '66,596', '66,405', '66,098', '65,508', '62,795', '61,669', '61,403', '59,940', '55,957', '48,157', '45,000', '44,782', '44,752', '44,671', '42,963', '41,448', '38,737', '37,958', '37,636', '37,358', '36,998', '36,299', '36,174', '34,658', '34,040', '31,980', '31,192', '27,594', '27,337', '27,216', '26,900', '24,421', '22,972', '21,544', '20,853', '19,796', '18,886', '18,560', '18,491', '18,226', '17,786', '17,733', '16,504', '16,401', '15,690', '15,134', '14,852', '14,712', '13,576', '12,382', '12,009', '11,971', '11,832', '11,690', '11,224', '10,656', '10,523', '9,827', '9,096', '8,686', '8,400', '8,209', '7,718', '7,502', '7,427', '7,131', '7,031', '6,920', '6,332', '6,234', '6,079', '5,814', '5,308', '4,845', '3,496', '3,236', '2,779', '1,831', '1,023', '712', '663', '456', '47', '38', '29', '25', '10', '9', '3', '2', '226,909', '107,319,239', '163,272,705', '60,700,163', '208,958,593', '10,402,278', '12,421,661', '721', '563,075,360']

А теперь пройдемся циклом по 9 колонкам, сгружая данные в список списков

In [47]:
field_list = []
for i in range(0,10):
    col = []
    col.append(rows[0].find_all('th')[i+1].get_text().strip()) # отдельно добавляем заголовок
    for row in rows[1:]: # начинаем со второго ряда таблицы, потому что 0 уже обработали выше
        r = row.find_all('td') # находим все теги td для строки таблицы
        col.append(r[i+1].get_text().strip()) # сохраняем данные в наш список
    field_list.append(col)

А вот заголовок второго столбца

In [48]:
field_list[2][0]

'NewCases'

Остается превратить эту структуру в DataFrame. Для этого сначала превратим ее в словарь из списков, где ключами будут названия колонок.

In [49]:
d = dict()
for i in range(9):
    d[field_list[i][0]] = field_list[i][1:]
# d

А теперь сгружаем этот словарь в функцию pd.DataFrame и он превращается в искомый DataFrame

In [50]:
import pandas as pd 
df = pd.DataFrame(d)
df.head(10)

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical"
0,North America,"107,319,239","+36,334","1,492,852",+92,"100,461,111","+24,700","5,365,276","9,399"
1,Asia,"163,272,705","+112,744","1,442,124",+57,"157,480,673","+35,595","4,349,908","10,875"
2,South America,"60,700,163","+3,801","1,309,025",+3,"57,751,953","+12,162","1,639,185","10,447"
3,Europe,"208,958,593",,"1,861,748",,"198,401,775","+14,836","8,695,070","6,618"
4,Oceania,"10,402,278","+56,048","14,846",+86,"9,891,818","+10,527","495,614",169
5,Africa,"12,421,661",,"256,335",,"11,569,351",,"595,975","1,016"
6,,721,,15,,706,,0,0
7,World,"563,075,360","+208,927","6,376,945",+238,"535,557,387","+97,820","21,141,028","38,524"
8,USA,"90,683,223",,"1,046,613",,"86,137,546",,"3,499,064","4,077"
9,India,"43,672,155",,"525,519",,"43,011,874",,"134,762",698

In [51]:
df.head(8)

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical"
0,North America,"107,319,239","+36,334","1,492,852",+92,"100,461,111","+24,700","5,365,276","9,399"
1,Asia,"163,272,705","+112,744","1,442,124",+57,"157,480,673","+35,595","4,349,908","10,875"
2,South America,"60,700,163","+3,801","1,309,025",+3,"57,751,953","+12,162","1,639,185","10,447"
3,Europe,"208,958,593",,"1,861,748",,"198,401,775","+14,836","8,695,070","6,618"
4,Oceania,"10,402,278","+56,048","14,846",+86,"9,891,818","+10,527","495,614",169
5,Africa,"12,421,661",,"256,335",,"11,569,351",,"595,975","1,016"
6,,721,,15,,706,,0,0
7,World,"563,075,360","+208,927","6,376,945",+238,"535,557,387","+97,820","21,141,028","38,524"

Для удобства переименуем колонки с составными названиями.

In [52]:
df = df.rename(columns={'Country,Other': 'Country', 'Serious,Critical': 'SeriousCritical'})

In [53]:
df.head(8)

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,SeriousCritical
0,North America,"107,319,239","+36,334","1,492,852",+92,"100,461,111","+24,700","5,365,276","9,399"
1,Asia,"163,272,705","+112,744","1,442,124",+57,"157,480,673","+35,595","4,349,908","10,875"
2,South America,"60,700,163","+3,801","1,309,025",+3,"57,751,953","+12,162","1,639,185","10,447"
3,Europe,"208,958,593",,"1,861,748",,"198,401,775","+14,836","8,695,070","6,618"
4,Oceania,"10,402,278","+56,048","14,846",+86,"9,891,818","+10,527","495,614",169
5,Africa,"12,421,661",,"256,335",,"11,569,351",,"595,975","1,016"
6,,721,,15,,706,,0,0
7,World,"563,075,360","+208,927","6,376,945",+238,"535,557,387","+97,820","21,141,028","38,524"

А теперь сгрузим весь процесс, который мы проделали, в одну функцию. Ее аргумент tag = 0 - информация за сегодняшний день, a tag=1 - информация за вчерашний день.

In [54]:
def stat(tag = 0):
    url = 'https://www.worldometers.info/coronavirus/'
    website = requests.get(url).text
    soup = BeautifulSoup(website, 'lxml')
    table = soup.find_all('table')[tag]
    rows = table.find_all('tr')
    d = dict()
    for i in range(10):
        col = []
        key = rows[0].find_all('th')[i+1].get_text().strip()
        
        for row in rows[1:236]:
            r = row.find_all('td')
            col.append(r[i+1].get_text().strip())
        d[key] = col
    df = pd.DataFrame(d)
    df = df.rename(columns = {'Country,Other':'Country', 'Serious,Critical':'SeriousCritical'})
    return df

In [55]:
stat().head(10)

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,SeriousCritical,Tot Cases/1M pop
0,North America,"107,319,239","+36,334","1,492,852",+92,"100,461,111","+24,700","5,365,276","9,399",
1,Asia,"163,302,566","+142,655","1,442,173",+106,"157,528,998","+83,920","4,331,395","10,875",
2,South America,"60,700,163","+3,801","1,309,025",+3,"57,751,953","+12,162","1,639,185","10,447",
3,Europe,"208,958,593",,"1,861,748",,"198,401,775","+14,836","8,695,070","6,618",
4,Oceania,"10,402,278","+56,048","14,846",+86,"9,891,818","+10,527","495,614",169,
5,Africa,"12,421,661",,"256,335",,"11,569,351",,"595,975","1,016",
6,,721,,15,,706,,0,0,
7,World,"563,105,221","+238,838","6,376,994",+287,"535,605,712","+146,145","21,122,515","38,524","72,241"
8,USA,"90,683,223",,"1,046,613",,"86,137,546",,"3,499,064","4,077",
9,India,"43,672,155",,"525,519",,"43,011,874",,"134,762",698,"31,029"

In [56]:
list(stat()['Country'][:8])

['North America',
 'Asia',
 'South America',
 'Europe',
 'Oceania',
 'Africa',
 '',
 'World']

В первых 8 строках таблицы в колонке Country лежат регионы + Мир. Одна строка пустая. Уберем ее с помощью спискового включения.

In [22]:
print(*list(i+'\n' for i in list(stat()['Country'][:8]) if i!=''))

North America
 Asia
 South America
 Europe
 Oceania
 Africa
 World

А с 8 по 220 строки лежат названия стран. Выведем ее с помощью спискового включения по 6 стран в линию (для этого вставим символ переноса строки)

In [57]:
x = stat()['Country'][8:236]
', '.join([e+'\n' if i%6 == 5 else e for i,e in enumerate(x)])

'USA, India, Brazil, France, Germany, UK\n, Italy, S. Korea, Russia, Turkey, Spain, Vietnam\n, Japan, Argentina, Australia, Netherlands, Iran, Mexico\n, Colombia, Indonesia, Poland, Portugal, Ukraine, DPRK\n, Malaysia, Thailand, Austria, Israel, Belgium, Taiwan\n, Chile, South Africa, Canada, Czechia, Switzerland, Greece\n, Philippines, Peru, Denmark, Romania, Sweden, Iraq\n, Serbia, Bangladesh, Hungary, Slovakia, Jordan, Georgia\n, Ireland, Pakistan, Singapore, New Zealand, Norway, Kazakhstan\n, Hong Kong, Morocco, Bulgaria, Croatia, Finland, Lebanon\n, Cuba, Tunisia, Lithuania, Slovenia, Belarus, Nepal\n, UAE, Uruguay, Guatemala, Bolivia, Panama, Mongolia\n, Ecuador, Costa Rica, Latvia, Saudi Arabia, Azerbaijan, Paraguay\n, Sri Lanka, Kuwait, Bahrain, Dominican Republic, Myanmar, Palestine\n, Estonia, Cyprus, Venezuela, Moldova, Egypt, Libya\n, Ethiopia, Honduras, Réunion, Armenia, Oman, Qatar\n, Bosnia and Herzegovina, Kenya, Zambia, Botswana, North Macedonia, Albania\n, Algeria, Luxembourg, Nigeria, Zimbabwe, Montenegro, Uzbekistan\n, Mozambique, Laos, Martinique, Kyrgyzstan, Iceland, Maldives\n, Afghanistan, El Salvador, Brunei, Guadeloupe, Namibia, Uganda\n, Trinidad and Tobago, Ghana, Jamaica, Cambodia, Rwanda, Cameroon\n, Malta, Angola, DRC, French Guiana, Malawi, Senegal\n, Barbados, Channel Islands, Ivory Coast, Suriname, French Polynesia, Eswatini\n, Guyana, New Caledonia, Fiji, Madagascar, Belize, Sudan\n, Cabo Verde, Mauritania, Bhutan, Syria, Gabon, Seychelles\n, Curaçao, Papua New Guinea, Andorra, Burundi, Aruba, Mauritius\n, Mayotte, Togo, Guinea, Isle of Man, Bahamas, Tanzania\n, Faeroe Islands, Lesotho, Haiti, Mali, Cayman Islands, Saint Lucia\n, Benin, Somalia, Congo, Timor-Leste, Solomon Islands, Burkina Faso\n, Gibraltar, San Marino, Grenada, Nicaragua, Liechtenstein, Tajikistan\n, South Sudan, Equatorial Guinea, Bermuda, Djibouti, Samoa, Dominica\n, CAR, Monaco, Tonga, Gambia, Greenland, Yemen\n, Vanuatu, Saint Martin, Sint Maarten, Caribbean Netherlands, Eritrea, Niger\n, Antigua and Barbuda, Guinea-Bissau, Comoros, Sierra Leone, Liberia, Chad\n, British Virgin Islands, St. Vincent Grenadines, Nauru, Saint Kitts and Nevis, Turks and Caicos, Sao Tome and Principe\n, Cook Islands, Palau, St. Barth, Anguilla, Kiribati, Saint Pierre Miquelon\n, Falkland Islands, Montserrat, Diamond Princess, Macao, Wallis and Futuna, Marshall Islands\n, Micronesia, Vatican City, Niue, Western Sahara, MS Zaandam'

In [58]:
x = stat()['Country'][8:236]
import re
# print(x)
print(', '.join([e+'\n' if i%6 == 5 else e for i,e in enumerate(x)]).replace('\n,',',\n'))

USA, India, Brazil, France, Germany, UK,
 Italy, S. Korea, Russia, Turkey, Spain, Vietnam,
 Japan, Argentina, Australia, Netherlands, Iran, Mexico,
 Colombia, Indonesia, Poland, Portugal, Ukraine, DPRK,
 Malaysia, Thailand, Austria, Israel, Belgium, Taiwan,
 Chile, South Africa, Canada, Czechia, Switzerland, Greece,
 Philippines, Peru, Denmark, Romania, Sweden, Iraq,
 Serbia, Bangladesh, Hungary, Slovakia, Jordan, Georgia,
 Ireland, Pakistan, Singapore, New Zealand, Norway, Kazakhstan,
 Hong Kong, Morocco, Bulgaria, Croatia, Finland, Lebanon,
 Cuba, Tunisia, Lithuania, Slovenia, Belarus, Nepal,
 UAE, Uruguay, Guatemala, Bolivia, Panama, Mongolia,
 Ecuador, Costa Rica, Latvia, Saudi Arabia, Azerbaijan, Paraguay,
 Sri Lanka, Kuwait, Bahrain, Dominican Republic, Myanmar, Palestine,
 Estonia, Cyprus, Venezuela, Moldova, Egypt, Libya,
 Ethiopia, Honduras, Réunion, Armenia, Oman, Qatar,
 Bosnia and Herzegovina, Kenya, Zambia, Botswana, North Macedonia, Albania,
 Algeria, Luxembourg, Nigeria, Zimbabwe, Montenegro, Uzbekistan,
 Mozambique, Laos, Martinique, Kyrgyzstan, Iceland, Maldives,
 Afghanistan, El Salvador, Brunei, Guadeloupe, Namibia, Uganda,
 Trinidad and Tobago, Ghana, Jamaica, Cambodia, Rwanda, Cameroon,
 Malta, Angola, DRC, French Guiana, Malawi, Senegal,
 Barbados, Channel Islands, Ivory Coast, Suriname, French Polynesia, Eswatini,
 Guyana, New Caledonia, Fiji, Madagascar, Belize, Sudan,
 Cabo Verde, Mauritania, Bhutan, Syria, Gabon, Seychelles,
 Curaçao, Papua New Guinea, Andorra, Burundi, Aruba, Mauritius,
 Mayotte, Togo, Guinea, Isle of Man, Bahamas, Tanzania,
 Faeroe Islands, Lesotho, Haiti, Mali, Cayman Islands, Saint Lucia,
 Benin, Somalia, Congo, Timor-Leste, Solomon Islands, Burkina Faso,
 Gibraltar, San Marino, Grenada, Nicaragua, Liechtenstein, Tajikistan,
 South Sudan, Equatorial Guinea, Bermuda, Djibouti, Samoa, Dominica,
 CAR, Monaco, Tonga, Gambia, Greenland, Yemen,
 Vanuatu, Saint Martin, Sint Maarten, Caribbean Netherlands, Eritrea, Niger,
 Antigua and Barbuda, Guinea-Bissau, Comoros, Sierra Leone, Liberia, Chad,
 British Virgin Islands, St. Vincent Grenadines, Nauru, Saint Kitts and Nevis, Turks and Caicos, Sao Tome and Principe,
 Cook Islands, Palau, St. Barth, Anguilla, Kiribati, Saint Pierre Miquelon,
 Falkland Islands, Montserrat, Diamond Princess, Macao, Wallis and Futuna, Marshall Islands,
 Micronesia, Vatican City, Niue, Western Sahara, MS Zaandam

Для вывода результатов в текстовом формате воспользуемся библиотекой tabulate (в таком формате мы будем отправлять результаты в telegram'е)

In [59]:
!pip install tabulate

Requirement already satisfied: tabulate in c:\users\meale\anaconda3\lib\site-packages (0.8.9)

In [60]:
from tabulate import tabulate

Например общее количество случаев заболевания коронавирусом в Великобритании вывести можно так:

In [61]:
df[df['Country']=='UK'][['Country','TotalCases']].reset_index(drop=True)

  Country  TotalCases
0      UK  22,883,995

In [62]:
x = df[df['Country']=='UK'][['Country','TotalCases']].reset_index(drop=True)
print(tabulate(x, headers = x.columns, tablefmt="grid"))

+----+-----------+--------------+
|    | Country   | TotalCases   |
+====+===========+==============+
|  0 | UK        | 22,883,995   |
+----+-----------+--------------+

In [63]:
!pip install semidbm

Requirement already satisfied: semidbm in c:\users\meale\anaconda3\lib\site-packages (0.5.1)

In [64]:
import semidbm

In [65]:
db = semidbm.open('testdb', 'c')
db['foo'] = 'bar'
print(db['foo'].decode())
db.close()

bar

In [66]:
db = semidbm.open('testdb', 'c')
db['foo'].decode()

'bar'

In [67]:
db = semidbm.open('testdb', 'c')
del db['foo']

In [68]:
db['foo']

KeyError: b'foo'

In [ ]:
db.close()